EnterpriseJavaDeveloperCourseAlgonquinCollege/JavaMisc3-WS-night6/BottomUpWebServiceHello/WebContent/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://exampleservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://exampleservice" xmlns:intf="http://exampleservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://exampleservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="echo">
    <complexType>
     <sequence>
      <element name="msg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="echoResponse">
    <complexType>
     <sequence>
      <element name="echoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="echoRequest">

      <wsdl:part element="impl:echo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="echoResponse">

      <wsdl:part element="impl:echoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloService">

      <wsdl:operation name="echo">

         <wsdl:input message="impl:echoRequest" name="echoRequest">

       </wsdl:input>

         <wsdl:output message="impl:echoResponse" name="echoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloServiceSoapBinding" type="impl:HelloService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="echo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="echoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="echoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloServiceService">

      <wsdl:port binding="impl:HelloServiceSoapBinding" name="HelloService">

         <wsdlsoap:address location="http://localhost:8080/BottomUpWebServiceHello/services/HelloService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
